.PatientsInfo {
  display: flex;

  flex-direction: row;
}

.TableBlock {
  max-width: 40%;
  margin: 5%;
}

.MoreInfo {
  min-width: 60%;
  background-color: #2e62b3;
}

.CardInfo {
  width: 50%;
  height: 95%;
}

.rowHeader {
  border-bottom: 1px solid #dee2e6;
}

.RecordsPanel {
  max-height: 400px;
}
