
.PatientsInfo {
    display: flex;
    
    flex-direction: row;

}

.TableBlock {
    max-width: 65%;
    margin: 5%;
}

.MoreInfo {
    min-width: 35%;
    background-color: #2E62B3;
    min-height: 850px;
}

.rowHeader {
    border-bottom: 1px solid #DEE2E6;

}